#head{
    font-family: 'Righteous', cursive;
    text-align:center;
    font-size:100px;
}
#songInput{
height:40px;
}
#playlist{
    display:flex;
    justify-content:center;
}
body{
    background:url("https://wallpaper-gallery.net/images/music-wallpapers-and-backgrounds/music-wallpapers-and-backgrounds-14.jpg");
}